{
  "presets": [
    "react-app"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "babel-plugin-array-last-index",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements",
    "babel-plugin-closure-elimination"
  ]
}